
* {
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 1580px;
    margin: 0 auto;
}

/*animação de surgimento pela esquerda*/
@keyframes surgirEsquerda {
    from {
        opacity: 0;
        translate: -100vw 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

.container {
    max-width: 2000px;
    margin: 0 auto;
}

.nav-header {
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav-header .logo {
    max-width: 400px;
    width: 100%;
}

.nav-header .logo img {
    width: 60%;
}

.searchBox {
    max-width: 400px;
    width: 100%;
    background: #232f3e;
    height: 30px;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.searchText {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font: 10px;
    line-height: 30px;
    width: 100%;
}

.searchButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*essa é a DIV dos botões da parte de cima*/
.banner {
    width: 100%;
    height: 40px;
    background: #232f3e;    
    display: flex;
    justify-content: center;
}

/*essa DIV ta dentro de "botoesHead" ela tem o intuito de organizar melhor
essa parte, se mais pra frente quisermos colocar outros botões com categorias
diferentes podemos colocar outra DIV*/
.btn-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-banner ul {
    list-style: none;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*estilização do texto dos botões*/
.btn-banner ul li a {
    max-width: 400px;
    width: 400px;
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.26s;
} 

/*essa é só uma animação para deixar os botões bonitinhos*/
.btn-banner ul li a:hover {
    border: 1px solid #ffffff;
    width: 80px;
    background-color: #ffffff;
    color: #215779;
}

.btn-page-top ul {
    display: flex;
    justify-content: center;
    width: 400px;
}

.btn-page-top ul li {
    font-size: 20px;
    height: 30px;
    list-style: none;
    margin-left: 20px;
}

.btn-page-top ul li a {
    text-decoration: none;
    color: #fff;
}

.btn-page-top ul li img {
    width: 30px;
    height: 30px;
}













/*Aqui começ a pagina de Sobre*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header-sobre {
    background : #232f3e;
    color: #fff;
    padding: 20px 0;
    text-align: center;

}
h2 {
    border-bottom: 2px solid #232f3e;
    padding-bottom: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
}


nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #000000;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #000000;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}





