<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link rel="stylesheet" href="/css/produto.css">
</head>

<body>

    <!--esta DIV e o cabeçalho do site-->
    <header class="container">
        <nav class="nav-header">

            <!--esta imagem será substituida pelo logo que ainda criaremos-->
            <div class="logo">
                <a href="/home">
                    <img class="logo" src="/img/logo.png">
                </a>
            </div>

            <!--caixa de pesquisa-->
            <div class="searchBox">
                <!--input que permite escrever na caixa de pesquisa e dentro a imagm da lupa-->
                <input type="text" class="searchText" placeholder="Pesquisar...">
                <a href="#" class="searchButton">
                    <img src="/img/loupe-branco.png" alt="Lupa" width="20px" height="20px">
                </a>
            </div>

            <div class="btn-page-top">

                <ul>

                    <li>
                        <a href="/carrinho"><button class="btn-cart"><img src="/img/cart-regular-24.png"></button></a>
                    </li>
                    <li>
                        <a href="/"><button>Sair da conta</button></a>
                    </li>
                </ul>
            </div>

        </nav>

        <!--nesta DIV estão os botões da partede baixo do site-->
        <nav class="banner">
            <div class="btn-banner">
                <ul>

                    <li>
                        <a href="/home">Início</a>
                    </li>
                    <li>
                        <a href="/catalogo">Catalógo</a>    
                    </li>
                    <li>
                        <a href="/sobre">Sobre</a>
                    </li>
                    <li>
                        <a href="/vender">Vender</a>
                    </li>
                    <li>
                        <a href="/suporte">Suporte</a>
                    </li>
                    <li>
                        <a href="/contato">Contato</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="top-product">
            <div class="product">

                <div class="imagem-product">
                    <img src="/img/image.png">
                </div>

                <div class="text-product">

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia numquam porro error delectus,
                        voluptates reprehenderit reiciendis, accusantium,
                        dolorum perspiciatis fugiat deserunt odio omnis iure possimus rem. Eligendi est neque nisi.
                    </p>
                </div>

            </div>

            <div class="buy-section">

                <div class="title-price">

                    <h2>titulo do produto</h2>

                    <h1>1000$</h1>

                </div>

                <h5>Delivery</h5>

                <div class="buy-info">

                    <div class="buy-info-controler">
                        <img src="/img/logo.png">
                        <p>Pagamento e segurança</p>
                    </div>

                    <div class="buy-info-controler">
                        <img src="/img/logo.png">
                        <p>Política de reembolso</p>
                    </div>

                </div>

                <div class="seller-info">
                    <img src="">
                    <h3>nome lorem</h3>
                </div>

            </div>

        </section>


        <section class="dow-page">
        </section>
    </main>

</body>

</html>