<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta nam="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suporte</title>
    <link rel="stylesheet" href="/css/sobre.css">
</head>

<body>

    <!--esta DIV e o cabeçalho do site-->
    <header class="container">
        <nav class="nav-header">

            <!--esta imagem será substituida pelo logo que ainda criaremos-->
            <div class="logo">
                <a href="/home">
                    <img class="logo" src="/img/logo.png">
                </a>
            </div>

            <!--caixa de pesquisa-->
            <div class="searchBox">
                <!--input que permite escrever na caixa de pesquisa e dentro a imagm da lupa-->
                <input type="text" class="searchText" placeholder="Pesquisar...">
                <a href="#" class="searchButton">
                    <img src="/img/loupe-branco.png" alt="Lupa" width="20px" height="20px">
                </a>
            </div>

            <div class="btn-page-top">

                <ul>

                    <li>
                        <a href="/carrinho"><button class="btn-cart"><img src="/img/cart-regular-24.png"></button></a>
                    </li>
                    <li>
                        <a href="/"><button>Sair da conta</button></a>
                    </li>
                </ul>
            </div>

        </nav>

        <!--nesta DIV estão os botões da partede baixo do site-->
        <nav class="banner">
            <div class="btn-banner">
                <ul>

                    <li>
                        <a href="/home">Início</a>
                    </li>
                    <li>
                        <a href="/catalogo">Catalógo</a>    
                    </li>
                    <li>
                        <a href="/sobre">Sobre</a>
                    </li>
                    <li>
                        <a href="/vender">Vender</a>
                    </li>
                    <li>
                        <a href="/suporte">Suporte</a>
                    </li>
                    <li>
                        <a href="/contato">Contato</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>




    <!-- Aqui começa a tela de sobre-->
    <div class="head">
        <h1>Sobre</h1>
    </div>

    <main>
        <section class="faq">
            <h2>Sobre nós</h2>
            <div class="faq-item">
                <h3>Quem somos nós?</h3>
                <p>Na Saasify, acreditamos no poder da tecnologia para transformar negócios e simplificar o dia a dia dos usuários. 
                    Somos um marketplace dedicado à venda e distribuição de soluções SaaS (Software as a Service), conectando você às melhores ferramentas digitais para impulsionar produtividade, eficiência e inovação.</p>
            </div>
            <div class="faq-item">
                <h3>Nossa visão:</h3>
                <p>Nosso propósito é facilitar o acesso a SAAS, fornecer um ambiente completo e abragente de softwares. Nossa missão é ajudar você a otimizar seus processos e aumentar sua produtividade.
                </p>            
            </div>
            <div class="faq-item">
                <h3>Nossos Valores:</h3>
            <ul>
                <li>Transparência</li>
                <li>Inovação</li>
                <li>Foco no Cliente</li>
                <li>Compromisso com a Qualidade</li>
            </ul>
            </div>
        </section>
        </main>
        <footer>
            <p>&copy; 2024 SaaSfy. Todos os direitos reservados.</p>

            <p>A inviolabilidade da sua intimidade e vida privada,</p>
            
            <p>a proteção e indenização pelo dano material ou moral decorrente de sua violação. </p>
        </footer>
</body>

</html>