<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venda</title>
    <link rel="stylesheet" href="/css/vender.css">
</head>

<body>
    <!--esta DIV e o cabeçalho do site-->
    <header class="container">
        <nav class="nav-header">

            <!--esta imagem será substituida pelo logo que ainda criaremos-->
            <div class="logo">
                <a href="/home">
                    <img class="logo" src="/img/logo.png">
                </a>
            </div>

            <!--caixa de pesquisa-->
            <div class="searchBox">
                <!--input que permite escrever na caixa de pesquisa e dentro a imagm da lupa-->
                <input type="text" class="searchText" placeholder="Pesquisar...">
                <a href="#" class="searchButton">
                    <img src="/img/loupe-branco.png" alt="Lupa" width="20px" height="20px">
                </a>
            </div>

            <div class="btn-page-top">

                <ul>

                    <li>
                        <a href="/carrinho"><button class="btn-cart"><img src="/img/cart-regular-24.png"></button></a>
                    </li>
                    <li>
                        <a href="/"><button>Sair da conta</button></a>
                    </li>
                </ul>
            </div>

        </nav>

        <!--nesta DIV estão os botões da partede baixo do site-->
        <nav class="banner">
            <div class="btn-banner">
                <ul>

                    <li>
                        <a href="/home">Início</a>
                    </li>
                    <li>
                        <a href="/catalogo">Catalógo</a>
                    </li>
                    <li>
                        <a href="/sobre">Sobre</a>
                    </li>
                    <li>
                        <a href="/vender">Vender</a>
                    </li>
                    <li>
                        <a href="/suporte">Suporte</a>
                    </li>
                    <li>
                        <a href="/contato">Contato</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    <title>Venda seu próprio SaaS</title>
    <header class="header-vender">
        <h1>Venda seu próprio SaaS</h1>
    </header>

    <div class="items">
        <a href="/pages/cadastro.html" class="item1">
            <img src="/img/vender1.png">
            <h3>ERP (Enterprise Resource Planning)</h3>
            <div class="descricao1">
                <p>
                    Centraliza processos de negócios, incluindo finanças, RH, produção e distribuição, ajudando as
                    empresas a otimizar suas operações internas e fluxos de trabalho.
                </p>
            </div>
        </a>

        <a class="item2">
            <img src="/img/vender2.png">
            <h3>CRM (Customer Relationship Management)</h3>
            <div class="descricao2">
                <p>
                    Ajuda as empresas a gerenciar interações com clientes, leads e parceiros. Possui funcionalidades
                    como segmentação de clientes, automação de marketing e análise de desempenho de vendas.
                </p>
            </div>
        </a>

        <a class="item3">
            <img src="/img/vender3.png">
            <h3>Automação de Marketing</h3>
            <div class="descricao3">
                <p>
                    Simplifica tarefas de marketing como email marketing, automação de campanhas e personalização de
                    conteúdo, geralmente usando análises e inteligência artificial.
                </p>
            </div>
        </a>

        <a class="item4">
            <img src="/img/logo-branco-no-background.png">
            <h3>Outros</h3>
            <div class="descricao4">
                <p>
                    Descreva qual a finalidade do seu site.
                </p>
            </div>
        </a>

    </div>
</body>

</html>