.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}


.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile {
    display: none;
}

.slide-box {
    width: 25%;
    height: 340px;
    position: relative;
    text-align: center;
    transition: 1.0s;
}

.slide-box img {
    width: 100%;
    height: 100%;
}

.nav-manual, .nav-auto {
    position: absolute;
    top: 490px;
    max-width: 1580px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #232f3e;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #232f3e;
}

#radio1:checked ~ .primary {
    margin-left: 0%;
}

#radio2:checked ~ .primary {
    margin-left: -25%;
}

#radio3:checked ~ .primary {
    margin-left: -50%;
}

@media screen and (max-width: 900px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    .nav-auto,.nav-manual {
        margin-top: 45%;
    }
}